{% extends 'base.html' %}

{% block content %}
<div class="journal-form-container">
    <!-- Title dynamically changes based on whether a journal is being edited or created -->
    <h1 class="journal-form-title">{% if journal %}Edit{% else %}Create{% endif %} Journal</h1>

    <!-- Form for creating or editing a journal -->
    <form method="post" enctype="multipart/form-data" class="journal-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <!-- Button to navigate back to the journal list -->
    <div class="back-button">
        <a href="{% url 'journal-list' %}" class="btn btn-secondary">Back to Journals</a>
    </div>
</div>
{% endblock %}
