{% extends 'base.html' %}

{% block content %}
<div class="profile-detail-container">
    {% if request.user == profile.user %}
        <h1 class="profile-title">Welcome to your WorkStation</h1>
    {% endif %}
    <h2 class="profile-title">{{profile.user.username}}</h1>
    <div class="profile-image-container">
        <img src="{{ profile.profile_image.url | default:'/static/project/default-profile.jpg' }}" 
             alt="{{ profile.user.username }}" class="profile-image">
    </div>
    <div class="profile-info">
        <p><strong>Role:</strong> {{ profile.role }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Contact:</strong> <a href="mailto:{{ profile.contact_email }}">{{ profile.contact_email }}</a></p>
        <p><strong>Skills:</strong> {{ profile.skills}}</p>
        <p><strong>Social Links:</strong>{{ profile.social_links}}</p>
        <ul>
            {% for platform, link in profile.social_links.items %}
                <li><a href="{{ link }}" target="_blank">{{ platform }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="profile-actions">
        {% if request.user == profile.user %}
            <a href="{% url 'profile-edit' %}" class="profile-edit-button">Edit Profile</a>
        {% endif %}
        <a href="{% url 'profile-list' %}" class="profile-back-button">Back to Profiles</a>
    </div>
    <!-- Role Change Form -->
    {% if can_manage_users %}
        <h3>Change Role For {{profile.user.username}}</h3>
        <form method="post">
            {% csrf_token %}
            <label for="role">Select New Role:</label>
            <select name="role" id="role">
                {% for role, role_name in profile.ROLE_CHOICES %}
                    <option value="{{ role }}" {% if profile.role == role %}selected{% endif %}>
                        {{ role_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="profile-back-button">Change Role</button>
        </form>
    {% endif %}
</div>
{% endblock %}
